body, html {
  margin: 0;
  padding: 0;
}

.col-lg-9, form {
  width: 100vw;
}

#today {
  display: flex;
  justify-content: center;
  background: green;
  color: white;
  width: 40%;
  border-radius: 8px;
  margin: 0 auto;
}

.col-lg-3, header {
 background: green;
 color: white;
}

header h1 {
  margin: 0;
  padding: 0 0 25px 10px;
}

.row h2 {
  margin: 0;
  padding: 0 0 25px 10px;
}

form {
  padding: 0 25px;
}

#forecast {
  display: flex;
  justify-content: space-evenly;
}

.col-lg-9 h2 {
  text-align: center;
  color: green;
}

.five-day-card {
  position: relative;
  width: 15%;
  padding-right: 15px;
  padding-left: 15px;
  background: green;
  color: white;
  border-radius: 8px;
}

.forecastHeader {
  display: inline-block;
}